@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

.main-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header.header {
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding: 16px 20px;
  align-items: center;
  text-align: center;
  color: #6070ff;
}

header.header a {
  text-decoration: none;
}

section.homepage-section {
  background-image: url(Images/Background-image.png);
  background-size: cover;
  margin-top: 20px;
  padding: 16px 20px;
}

section.homepage-section h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

p.homepage-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

p.homepage-quote {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

ul.icons {
  display: flex;
  justify-content: space-between;
  width: 50%;
  list-style-type: none;
  padding: 0;
}

section.sub-grid-display {
  display: grid;
  gap: 20px;
  padding: 10px 0;
  margin: 0 auto;
}

.sub-homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20px;
  padding: 10px;
  background-color: gold;
}

div.sub-card-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
}

h2.sub-header {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

ul.sub-titles {
  display: flex;
  padding: 0;

  /* justify-content: space-between; */
  list-style-type: none;

  /* text-align:left; */
}

ul.sub-titles li {
  white-space: pre;
  padding: 5px;
}

ul.sub-titles li::after {
  content: "  \00b7  ";
}

ul.sub-titles li:last-child::after {
  content: none;
}

p.sub-paragraph-page {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

ul.sub-icons {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  text-align: center;
  width: 70%;
  gap: 10px;
}

ul.sub-icons li {
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  text-align: center;
  background: #ebebff;
  border-radius: 8px;
}

button.sub-button {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

section.sub-language {
  flex-direction: column;
  display: flex;
}

div.sub-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 327px;
  height: 320.15px;
  margin-bottom: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

div.sub-row {
  flex-direction: row;
}

/* .sub-language .sub-column .sub-row span {
  width: 600px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
} */

.list {
  list-style-type: none;
}

.mylist {
  list-style-type: none;
  padding: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-bottom: 30px;
}

.mylist-item {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  background-color: #f7f7f9;
  margin: 5px 0;
  width: fit-content;
}

div.language-heading {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}
